header {
    background-color: #480204;
    color: #fff;
    padding: 30px;
    text-align:center;
}

.contenedor{
  background-color: rgb(80, 71, 71);
  width: 10px;
  height: 5px;
}

h1{
    font-size: small;
    font: unset;
  font-size: 50px;
}

body {
    margin: 0;
}
main{
    text-align: left;
    background-color: antiquewhite;
}

button{
  border-radius: 12px;
}

.container {
    display: flex;
    flex-direction: row;
  }
  
  .texto {
    flex: 1;
    padding: 20px;
  }
  
  .imagen {
    flex: 1;
    padding: 20px;
  }
  
  .imagen img {
    max-width: 100%;
    height: auto;
  }

  