#titulo{
    text-align: center;
    font-size:xx-large;
    color: white;
    font-family: fantasy;
}
.letrasBlancas{
    color: white;
    font-size: small;
    text-align: center;
    font-family: fantasy;
}
#main{
    background-color: brown;
}

